/* color variables */

$blue: #578ac5;
$gray: #f6f6f6;
$white: #fff;
$black: #333;
$red: #ff3f3f;
$green: #00d562;
$yellow: #ffd540;
$orange: #f05729;
$light-green: #00917d;
$formBg: #1e1d23;
$light-gray: #575d64;
