@import "./assets/style-tokens/_color-palette";
@import "./assets/style-tokens/_fonts";
@import "./assets/style-tokens/_mixins";
@import "./assets/style-tokens/_helpers";
@import "./assets/style-tokens/_key-frames";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: $black;
  // background-color: $light-gray;
}

.btn {
  border-style: none;
  border-radius: 5px;
  color: $black;
  cursor: pointer;

  span {
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    opacity: 0.9;
  }

  &.primary {
    background-color: $light-green;
    color: $white;
  }

  &.secondary {
    color: $black;
    border-style: solid;
    border-color: $light-green;
  }

  &.stretched {
    width: 100%;
  }

  &.icon {
    border-color: transparent;
    color: $black;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      color: $white;
      background-color: $light-green;
    }
  }
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: 1s spin linear infinite;
  width: 90px;
  height: 90px;
  color: $light-green;
}
